exportPattern("^[[:alpha:]]+")
importFrom("MALDIquant",
           "calibrateIntensity",
           "transformIntensity",
           "alignSpectra",
           "removeEmptyMassObjects",
           "averageMassSpectra",
           "detectPeaks",
           "determineWarpingFunctions",
           "warpMassPeaks",
           "match.closest",
           "intensityMatrix",
           "createMassPeaks")
importFrom("MALDIrppa",
           "wavSmoothing")
importFrom("MALDIquantForeign",
           "importBrukerFlex")
importFrom("stats",
           "aggregate",
           "predict",
           "sd",
           "lm",
           "AIC",
           "pf",
           "kruskal.test",
           "na.omit",
           "model.matrix")
importFrom("ggplot2",
           "ggplot",
           "aes",
           "geom_boxplot",
           "facet_wrap",
           "theme_bw",
           "xlab")
importFrom("mixOmics",
           "splsda",
           "color.mixo",
           "plotLoadings")
importFrom("caret",
           "createDataPartition",
           "confusionMatrix",
           "trainControl",
           "train",
           "rfe",
           "rfeControl",
           "rfFuncs",
           "upSample",
           "downSample")
importFrom("glmnet","glmnet")
importFrom("reshape2",
           "melt")
importFrom("nnet", "nnet")
importFrom("dplyr", "inner_join")
importFrom("fuzzyjoin", "distance_left_join")
importFrom("VSURF", "VSURF")
importFrom("xgboost", 
           "xgb.DMatrix",
           "xgb.train")
importFrom("e1071", "svm")
importFrom("metap", "sumlog")
importFrom("performanceEstimation", "smote")
importFrom("mltools", "mcc")
importFrom("mclust", "adjustedRandIndex")
importFrom("UBL", "SmoteClassif")
importFrom("car", "linearHypothesis")
importFrom("limma",
           "eBayes",
           "contrasts.fit")
importFrom("cp4p",
           "adjust.p",
           "estim.pi0")
import("statmod")



